/* hexagon image */
.hexagonimage {
  max-width: 125px;
}

/* body width auto max width */
body {
  max-width: 750px;
  margin: 0 auto !important;
  float: none !important;
}

.customcontainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Navbar */
.topnav {
  margin-top: 50px;
  margin-bottom: 75px;
  position: relative;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnava {
  float: left;
  color: gray;
  text-align: center;
  padding-top: 135px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
}

.topnava {
  border-bottom: 2px solid white;
}

.topnava:hover {
  color: gray;
  border-bottom: 2px solid gray;
  transition: 1s ease-in-out;
}

/* Hexagon hover */

.overlayhexagon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.imagecontainer:hover .overlayhexagon {
  opacity: 1;
}

.textinhexagon {
  color: grey;
  background-color: #b5e2ff;
  font-size: 28px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 33px;
  padding-bottom: 33px;
}

/* Centered section inside the top navigation */
.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.activepage{
  color: #b5e2ff;
}

.activepage:hover{
  color: #b5e2ff;
  border-bottom: 2px solid #b5e2ff;
  transition: 1s ease-in-out;
}

/* Link style */
.linkstyle {
  color: #b5e2ff;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
}

.linkstyle:hover {
  color: #67b7ec;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
}

/* Styling body text */
h1 {
  font-size: 25px;
  font-weight: bold;
  color: #b5e2ff;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  margin-bottom: 1rem;
}

h2{
  font-size: 22.5px;
  font-weight: bold;
  color: #b5e2ff;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  margin-bottom: 1rem;
}

h3{
  font-size: 20px;
  font-weight: bold;
  color: grey;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  margin-bottom: 1rem;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcometext {
  font-size: 20px;
  color: grey;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
}

.line {
  margin-top: 70px;
  margin-bottom: 70px;
}

.aboutmetext {
  font-size: 20px;
  color: grey;
  font-family: "Inconsolata", monospace;
}

/* News page */

.newsarticle{
  margin-bottom: 5rem;
}

.newstext{
  font-size: 20px;
  color: grey;
  font-family: "Inconsolata", monospace;
}

/* Blog page */

.bloganouncement{
  margin-bottom: 5rem;
}

.bloganouncementtext{
  font-size: 20px;
  color: grey;
  font-family: "Inconsolata", monospace;
}

/* Individual blog text */
.blogimagecontainer {
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}

.blogimagebanner{
  border-radius: 50px;
  box-shadow: #b5e2ff 2px 2px 20px;
}

.blogimagetext {
  position: absolute;
  top: 60px;
  left: 25px;
  font-size: 50px;
  color: grey;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.blogtext{
  font-size: 20px;
  color: grey;
  font-family: "Inconsolata", monospace;
}

.blogtexthighlight{
  font-size: 20px;
  color: grey;
  font-family: "Inconsolata", monospace;
  font-style: italic;
  font-weight: bold;
}

.divider {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.blogimage{
  margin-top: 2.5rem;
  max-width: 750px;
  max-height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.blogimagealt{
  font-size: 20px;
  font-weight: bold;
  color: grey;
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin-bottom: 2.5rem;
}

/* Contact form */
.contacttext{
  font-size: 20px;
  color: grey;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

/* Footer */

.footerline {
  margin-top: 70px;
  margin-bottom: 1rem;
}

footer {
  font-size: 20px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  color: grey;
  padding-bottom: 1rem;
}

.copyrighttext {
  font-size: 16px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  color: grey;
}

.footerlink {
  margin-left: 0.5rem;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #b5e2ff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #67b7ec;
}