/* hexagon image */
.hexagonimage {
  max-width: 125px;
}

/* body width auto max width */
body {
  max-width: 750px;
  margin: 0 auto !important;
  float: none !important;
}

.customcontainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Navbar */
.topnav {
  margin-top: 50px;
  margin-bottom: 75px;
  position: relative;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnava {
  float: left;
  color: gray;
  text-align: center;
  padding-top: 135px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
}

.topnava {
  border-bottom: 2px solid white;
}

.topnava:hover {
  color: gray;
  border-bottom: 2px solid gray;
  transition: 1s ease-in-out;
}

/* Hexagon hover */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.imagecontainer:hover .overlay {
  opacity: 1;
}

.text {
  color: grey;
  background-color: #b5e2ff;
  font-size: 28px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 33px;
  padding-bottom: 33px;
}

/* Centered section inside the top navigation */
.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Styling body text */
h1 {
  font-size: 25px;
  font-weight: bold;
  color: #b5e2ff;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  margin-bottom: 1rem;
}

.welcometext {
  font-size: 20px;
  color: grey;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
}

.line {
  margin-top: 70px;
  margin-bottom: 70px;
}

.aboutmetext{
  font-size: 20px;
  color: grey;
  font-family: "Inconsolata", monospace;
}

/* Footer */

.footerline{
  margin-top: 70px;
  margin-bottom: 1rem;
}

footer {
  font-size: 20px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  color: grey;
  padding-bottom: 1rem;
}

.copyrighttext{
  font-size: 15px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  color: grey;
}